.input-focus-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

input {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
}

.input-focus-container button {
   background-color: blue;
   padding: 10px;
   border-radius: 10px;
   color: white;
   transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}
